@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500:600&family=Poppins:wght@400;800&family=Unbounded:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-zinc-950 text-stone-300;
    font-family: 'Manrope', sans-serif;
  }

  *::selection {
    @apply bg-purple-400 text-zinc-950;
  }

  .collapsible {
    display: grid;
    grid-template-rows: 0fr;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  .collapsible.open {
    opacity: 1;
    grid-template-rows: 1fr;
  }

  .collapsible-inner {
    overflow: hidden;
  }
}